@* /// <remarks> *@
@* /// Author: Team P1-5 *@
@{
    ViewData["Title"] = "Edit Profile";
}

 <h3 class="text-2xl font-bold mb-8">Edit Profile </h3>

<div class="w-full md:w-1/2 px-3md:w-1/2 px-3 mb-8">
    <label class="tracking-wide text-gray-700 text-xs font-bold mb-2" for="user-id">ID
    </label>
    <input class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"  id="user-id" name="ID" type="text" placeholder="Enter ID">
</div>
<div class="w-full md:w-1/2 px-3md:w-1/2 px-3 mb-8">
    <label class="tracking-wide text-gray-700 text-xs font-bold mb-2" for="user-email">
        Email
    </label>
    <input class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"  id="user-email" name="Email" 
           type="text" placeholder="Enter email">
</div>
<div class="w-full md:w-1/2 px-3md:w-1/2 px-3 mb-8">
    <label class="tracking-wide text-gray-700 text-xs font-bold mb-2" for="user-faculty">
        Faculty
    </label>
    <input class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"  id="user-faculty" name="Faculty" 
           type="text" placeholder="Enter faculty">
</div>
