@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .z-100 {
        z-index: 100;
    }
}

body {
    font-family: "Nunito Sans", sans-serif;
    @apply bg-gray-100;
}

body::-webkit-scrollbar {
    display: none;
}

.overlay {
    position: relative;
}

@media only screen and (max-width: 1023px) {
    .overlay:after {
        content: " ";
        z-index: 29;
        display: block;
        height: 100%;
        top: 80px;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        position: fixed;
    }
}