/* <remarks>*/


/* Author: Team P1-3*/


/* </remarks>*/

@tailwind base;
@tailwind components;
@tailwind utilities;
.dataTables_wrapper .myfilter .dataTables_filter {
    float: left
}

.disabled {
    pointer-events: none;
    background: grey;
}