@{
    ViewData["Title"] = "Manual Log Upload";
}

<h2 class="font-bold text-3xl text-indigo-900">Manual Log Upload</h2>
<br/>
<section class="mx-auto pb-10">
    <img class="mx-auto" src="/Women Power Mobile.png" alt="screenshot" >
</section>
<h3 class="font-bold text-2xl text-indigo-900 text-center">No files found</h3>
<br/>
<div class="text-center">
    <button onclick="showAlert()" class="bg-indigo-900 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded trigger-swal">Upload Logs</button>
</div>


@section Scripts
{
    <script src="js/confirmationmodals.js"></script>
}
