@{
    ViewData["Title"] = "Manual Log Upload";
}

<h2 class="font-bold text-3xl text-black">Manual Log Upload</h2>
<br/>
<section class="mx-auto pb-10">
    <img class="mx-auto" src="/Women Power Mobile.png" alt="screenshot" >
</section>
<h3 class="font-bold text-2xl text-black text-center">Upload the logs through file upload or manual input.</h3>
<br/>
<div class="text-center">
    <button onclick="showAlert()" class="bg-slate-900 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded trigger-swal">Upload Logs</button>
</div>


@section Scripts
{
    <script src="~/js/confirmationModals.js"></script>
}
