@{
    ViewData["Title"] = "Manual Log Upload";
}

<h2 class="font-bold text-3xl text-indigo-900">Manual Log Upload</h2>

@* Display error message *@
<div id="error"></div>

@* <form id ="form" action="Upload" enctype="multipart/form-data" method="post"> *@

<form asp-action="Save" method="post" id="form">
    <div class="flex flex-col">
        <div class="w-full">
            <div class="border-b border-gray-200 shadow">
                <table id="logTable" class="table-auto w-full mt-5">
                    <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-2 text-xs text-gray-500">No.</th>
                        <th class="px-6 py-2 text-xs text-gray-500">Device Category</th>
                        <th class="px-6 py-2 text-xs text-gray-500">Device ID</th>
                        <th class="px-6 py-2 text-xs text-gray-500">Energy Usage (J)</th>
                        <th class="px-6 py-2 text-xs text-gray-500">Duration (min)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="bg-white">
                    @{ var index = 1;}
                    <tr class="whitespace-nowrap">
                        <td class="text-center">@index</td>
                        <td class="deviceCategory text-center shadow appearance-none border text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <select>
                                <option>Microprocessors</option>
                                <option>AR/VR Devices</option>
                                <option>Smart Sensors</option>
                                <option>Robotics</option>
                                <option>Meters and Monitoring Systems</option>
                                <option>Others</option>
                            </select>
                        </td>
                        <td><input class="deviceId text-center shadow appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="deviceId" type="text" placeholder="Enter Device ID" /></td>
                        <td><input class="energyUsage text-center shadow appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" value="energyUsage" placeholder="Enter Energy Usage (J)" required/></td>
                        <td><input class="duration text-center shadow appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" value="duration" placeholder="Enter Duration (min)" required/></td>
                        <td><button type="button" class="delete px-4 py-1 text-sm text-white bg-red-400 rounded">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
    <div class="flex justify-between">
        <input type="submit" id="btnSave" value="Upload Logs" class="bg-indigo-900 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded trigger-swal align-end">
        <button type="button" id="btnAdd" class="bg-indigo-900 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded trigger-swal">Add</button>
    </div>
</form>


@section Scripts
{
    <script src="~/js/manualLogValidation.js"></script>
    <script src="~/js/manualLogUpload.js"></script>
    <script src="~/js/confirmationModals.js"></script>
}