@model LivingLab.Web.Models.ViewModels.EnergyUsage.EnergyBenchmarkViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>

</div>
</body>
</html>