<div class="flex">
    <div class="flex-grow">
        <p class="text-4xl pb-3 flex items-center font-black">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 pr-2" viewBox="0 0 20 20" fill="currentColor">
                <path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z"/>
                <path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd"/>
            </svg>
            NYP-SR7A Lab Details
        </p>
    </div>
</div>
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden shadow-md sm:rounded-lg">
                <table class="min-w-full">
                    <thead class="bg-gray-50 dark:bg-gray-700 text-center">
                        <tr>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Device Serial No.
                            </th>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Device Type
                            </th>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Quantity
                            </th>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Energy Usage 
                            </th>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Energy Usage Cost
                            </th>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Energy Usage Intensity 
                            </th>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Average Energy Usage
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr class="border-b odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600 text-center">
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            SL1001
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            Light Sensor
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            1
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            2.63 kWh
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            $ 5.67
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            1.23 kWh/m<sup>2</sup>
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            1.09 kWh
                        </td>
                    </tr>
                    
                    <tr class="border-b odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600 text-center">
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            R1001
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            Temperature Sensor
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            1
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            2.23 kWh
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            $ 4.97
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            1.13 kWh/m<sup>2</sup>
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            0.99 kWh
                        </td>
                    </tr>
                    
                    <tr class="border-b odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600 text-center">
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            S1001
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            Humidity Sensor
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            1
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            2.93 kWh
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            $ 7.01
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            1.95 kWh/m<sup>2</sup>
                        </td>
                        <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                            1.49 kWh
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>