@model LivingLab.Web.Models.ViewModels.Login.RegisterViewModel
@* /// <remarks> *@
@* /// Author: Team P1-5 *@
@* /// </remarks> *@
@{
    ViewData["Title"] = "Register";
}
<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post" asp-controller="Account" asp-action="Register">
            <div class="bg-white shadow p-12  mb-12  rounded-lg">
                <p class="text-xl font-semibold">Basic Information </p>
                <div class="mt-6">
                    <p>
                        <label asp-for="Role" class="font-semibold"></label>
                    </p>
                    <select class="select select-bordered w-full max-w-xs" name="role" asp-for="Role">
                        <option disabled selected>Select Role</option>
                        <option value="User">USER</option>
                        <option value="Labtech">LABTECH</option>
                        <option value="Admin">ADMIN</option>
                    </select>
                </div>
                <div class="mt-6">
                    <p>
                        <label asp-for="Email" class="font-semibold"></label>
                    </p>
                    <input asp-for="Email" type="text" placeholder="Enter your Email" class="input input-bordered w-full max-w-xs">
                </div>
                <div class="mt-6">
                    <p>
                        <label asp-for="FirstName" class="font-semibold"></label>
                    </p> <input asp-for="FirstName" type="text" placeholder="Enter your First Name" class="input input-bordered w-full max-w-xs">
                </div>
                <div class="mt-6">
                    <p>
                        <label asp-for="LastName" class="font-semibold"></label>
                    </p> <input asp-for="LastName" type="text" placeholder="Enter your Last Name" class="input input-bordered w-full max-w-xs">
                </div>
                <div class="mt-6">
                    <p>
                        <label asp-for="PhoneNumber" class="font-semibold"></label>
                    </p> <input asp-for="PhoneNumber" type="text" placeholder="Enter your Phone Number" class="input input-bordered w-full max-w-xs">
                </div>
                <div class="mt-6">
                    <p>
                        <label asp-for="Faculty" class="font-semibold"></label>
                    </p>
                    <select class="select select-bordered w-full max-w-xs" name="faculty" asp-for="Faculty">
                        <option disabled selected>Select Faculty</option>
                        <option value="SE">SE</option>
                        <option value="ICT">ICT</option>
                        <option value="MDME">MDME</option>
                        <option value="CSC">CSC</option>
                    </select>
                </div>
                <div class="mt-6">
                    <p>
                        <label asp-for="Password" class="font-semibold"></label>
                    </p>
                    <input asp-for="Password" type="password" placeholder="Enter your Password" class="input input-bordered w-full max-w-xs">
                </div>
                <div class="mt-6">
                    <p>
                        <label asp-for="ConfirmPassword" class="font-semibold"></label>
                    </p> <input asp-for="ConfirmPassword" type="password" placeholder="Enter your Password" class="input input-bordered w-full max-w-xs">
                </div>

                <div class="mt-4 mb-4">
                    <p>
                        <span asp-validation-for="Email" class="text-sm text-red-500"></span>
                    </p>
                    <p>
                        <span asp-validation-for="FirstName" class="text-sm text-red-500"></span>
                    </p>
                    <p>
                        <span asp-validation-for="LastName" class="text-sm text-red-500"></span>
                    </p>
                    <p>
                        <span asp-validation-for="PhoneNumber" class="text-sm text-red-500"></span>
                    </p>
                    <p>
                        <span asp-validation-for="Faculty" class="text-sm text-red-500"></span>
                    </p>
                    <p>
                        <span asp-validation-for="Password" class="text-sm text-red-500"></span>
                    </p>
                    <p>
                        <span asp-validation-for="ConfirmPassword" class="text-sm text-red-500"></span>
                    </p>
                </div>
            </div>
            <div class="flex justify-center">
                <button id="registerSubmit" type="submit" class="btn  w-6/12">Create User</button>
            </div>
        </form>
    </div>

</div>