@model LivingLab.Web.Models.ViewModels.Account.SettingsViewModel
@* /// <remarks> *@
@* /// Author: Team P1-5 *@
@* /// </remarks> *@
@{
    ViewData["Title"] = "SMS Authentication";
}
<link rel="Stylesheet" href="~/css/accountSettings.css" type="text/css" xmlns="http://www.w3.org/1999/html"/>

<div class="row">
    <div>
        <section>
            <p class="font-semibold text-3xl ml-12 mb-4 pt-12">Mode of Authentication</p>
            <div class="flex gap-3 justify-left items-left">
                <button id="2FA-btn" class="block bg-white font-bold w-4/12 h-36 ml-4 mr-4 pt-8 pb-8 text-7xl rounded-lg transition  ease-in-out m-0 hover:bg-slate-600/10 hover:border-slate-600 hover:outline-none">
                    2FA
                </button>
                <button id="SMS-btn" class="block bg-white font-bold w-4/12 h-36 ml-4 mr-4 pt-8 pb-8 text-7xl rounded-lg transition  ease-in-out m-0 hover:bg-slate-600/10 hover:border-slate-600 hover:outline-none">
                    SMS
                </button>
            </div>

            <p class="font-semibold text-3xl ml-12 mb-4 pt-12">Others</p>

            <div class="flex gap-3 justify-left items-left">
                <a asp-controller="Home" asp-action="Logout" class="block text-center bg-white font-bold w-4/12 h-36 ml-4 mr-4 pt-8 pb-8 text-7xl rounded-lg transition  ease-in-out m-0 hover:bg-slate-600/10 hover:border-slate-600 hover:outline-none">
                    Logout
                </a>
            </div>

            <!--Overlay Effect-->
            <div
                class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
                id="my-modal">
                <div class="min-h-screen flex items-center justify-center">
                    <!--MODAL ITEM-->
                    <div class="bg-gray-100 w-full rounded-xl md:w-1/2 lg:w-1/3">
                        <!--MODAL HEADER-->
                        <div
                            class="flex justify-between items center  py-3 mx-4 px-4 my-4">
                            <div class="flex items-center justify-center">
                                <p class="text-2xl font-bold text-gray-800">SMS Set-Up</p>
                            </div>

                            <div id="close-btn"
                                 class="hover:bg-gray-500 cursor-pointer hover:text-gray-300 font-sans text-gray-500 w-8 h-8 flex items-center justify-center rounded-full">
                                <svg viewPort="0 0 12 12"
                                     width="12"
                                     height="12"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <line x1="1" y1="11"
                                          x2="11" y2="1"
                                          stroke="black"
                                          stroke-width="2"/>
                                    <line x1="1" y1="1"
                                          x2="11" y2="11"
                                          stroke="black"
                                          stroke-width="2"/>
                                </svg>
                            </div>
                        </div>

                        <!--MODAL BODY-->
                        <form method="post" asp-controller="Account" asp-action="SetUp2FA">
                            <div class="mx-4 px-4">
                                <div class="text-start my-2">
                                    <label class="flex block ml-0 justify-start font-semibold">Mobile</label>
                                </div>
                                <input asp-for="PhoneNumber" class="block w-4/8 h-12 px-4 py-1 text-base font-semibold bg-slate-600/10 bg-clip-padding border border-solid border-slate-600/10
                                                                                    rounded-lg transition ease-in-out m-0 focus:bg-slate-600/10 focus:border-slate-600 focus:outline-none" placeholder="Enter your phone number" autocomplete="current-phone" aria-required="true"/>


                                <div class="text-start my-2 mt-4">
                                    <label class="flex block ml-0 justify-start font-semibold">
                                        Enable SMS Authentication
                                    </label>
                                </div>
                                <div class="slider">
                                    @Html.CheckBoxFor(m => m.SMSAuth, new {@class = "toggle-pill"})
                                    @Html.LabelFor(m => m.SMSAuth, new {@class = "toggle-label"})
                                </div>
                            </div>
                            <!--BOX LINK-->
                            <div class="mt-8 mb-0 h-12 bg-slate-600 flex justify-center items-center hover:bg-black  w-full rounded-b-xl">
                                <button id="submit-btn" type="submit" class="text-white rounded text-xl font-bold">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--Overlay Effect-->
            <div
                class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
                id="my-modal2FA">
                <div class="min-h-screen flex items-center justify-center">
                    <!--MODAL ITEM-->
                    <div class="bg-gray-100 w-full rounded-xl md:w-1/2 lg:w-1/3">
                        <!--MODAL HEADER-->
                        <div
                            class="flex justify-between items center  py-3 mx-4 px-4 my-4">
                            <div class="flex items-center justify-center">
                                <p class="text-2xl font-bold text-gray-800">Google Auth Set-Up</p>
                            </div>

                            <div id="close-btn2FA"
                                 class="hover:bg-gray-500 cursor-pointer hover:text-gray-300 font-sans text-gray-500 w-8 h-8 flex items-center justify-center rounded-full">
                                <svg viewPort="0 0 12 12"
                                     width="12"
                                     height="12"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <line x1="1" y1="11"
                                          x2="11" y2="1"
                                          stroke="black"
                                          stroke-width="2"/>
                                    <line x1="1" y1="1"
                                          x2="11" y2="11"
                                          stroke="black"
                                          stroke-width="2"/>
                                </svg>
                            </div>
                        </div>

                        <!--MODAL BODY-->
                        <form method="post" asp-controller="Account" asp-action="SetUp2FA">
                            <div class="mx-4 px-4">
                                <div class="text-start my-2">
                                    <label class="flex block ml-0 justify-start font-semibold">Email</label>
                                </div>
                                <input asp-for="Email" class="block w-4/8 h-12 px-4 py-1 text-base font-semibold bg-slate-600/10 bg-clip-padding border border-solid border-slate-600/10
                                                                                                rounded-lg transition ease-in-out m-0 focus:bg-slate-600/10 focus:border-slate-600 focus:outline-none" placeholder="Enter your email" autocomplete="current-phone" aria-required="true"/>

                                <div class="text-start my-2 mt-4">
                                    <label class="flex block ml-0 justify-start font-semibold">
                                        Enable Google Authorization
                                    </label>
                                </div>

                                <div class="slider">
                                    @Html.CheckBoxFor(m => m.GoogleAuth, new {@class = "toggle-pill"})
                                    @Html.LabelFor(m => m.GoogleAuth, new {@class = "toggle-label"})
                                </div>
                            </div>
                            <!--BOX LINK-->
                            <div class="mt-8 mb-0 h-12 bg-slate-600 flex justify-center items-center hover:bg-black  w-full rounded-b-xl">
                                <button id="submit-btn2FA" type="submit" class="text-white rounded text-xl font-bold">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script src="~/js/settingModal.js"></script>
}