@* /// <remarks> *@
@* /// Author: Team P1-5 *@
@* /// </remarks> *@
@{
    ViewData["Title"] = "Booking Appointment";
}
<div class="">
    <div class="text-left pl-96 pb-12">
        <h1 class="font-semibold text-3xl pt-24">Booking Lab</h1>
        <h3 class="pt-2 text-lg font-medium">Make your lab appointment</h3>
    </div>
        <form class=" w-8/12 mx-auto bg-white  min-h-full">
            <div class="space-y-8 pl-16 rounded-md shadow ">
                <div>
                    <h1 class="font-semibold text-3xl pt-24">Basic Information</h1>
                    <h3 class="pt-2 text-lg">You're booking for SIT-LAB3A</h3>
                </div>
                <div>
                    <div >
                        <div>
                            <h2 class="font-medium text-lg">Name</h2>
                            <input type="text" placeholder="Enter Name" class="input input-bordered w-full max-w-xs bg-white mt-2">
                            <div class="pt-4">
                            <h2 class="font-medium text-lg">Email</h2>
                                <input type="text" placeholder="Enter Email" class="input input-bordered w-full max-w-xs bg-white mt-2">
                            </div>
                        </div>
                        <div>
                            <h1 class="font-semibold text-3xl pt-24">Booking Information</h1>
                            <div class="pt-8">
                            <h2 class="font-medium text-lg">Date</h2>
                                <select class="select select-bordered w-full max-w-xs bg-white mt-2">
                                    <option disabled selected>Select Date</option>
                                    <option>Han Solo</option>
                                    <option>Greedo</option>
                                </select>
                                <div class="pt-4">
                                <h2 class="font-medium text-lg">Start Time</h2>
                                    <select class="select select-bordered w-full max-w-xs bg-white mt-2">
                                        <option disabled selected>Select Start Time</option>
                                        <option>Han Solo</option>
                                        <option>Greedo</option>
                                    </select>
                                </div>
                                <div class="pt-4">
                                <h2 class="font-medium text-lg">End Time</h2>
                                    <select class="select select-bordered w-full max-w-xs bg-white mt-2">
                                        <option disabled selected> Select End Time</option>
                                        <option>Han Solo</option>
                                        <option>Greedo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    
       <div class="text-center mt-12">
<label for="my-modal" class="btn modal-button">Book Appointment</label>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal" class="modal-toggle">
<div class="modal">
  <div class="modal-box bg-white    p-8">
    <h3 class="font-bold text-2xl font-bold mt-12 ">Lab Appointment</h3>
      <p class=" font-semibold mt-4">Please confirm your booking details</p>
      <div class="mt-8">
          <div class="flex flex-row justify-around  mb-4">
                  <p class="font-bold text-left">Lab</p>
                  <p class="font-medium">SIT-LAB1A</p>
          </div>
          <div class="flex flex-row justify-around  mb-4">
                    <p class="font-bold text-left">Date</p>
                    <p class="font-medium">18 Feb 2022</p>
                </div>
          <div class="flex flex-row justify-around  mb-4">
                    <p class="font-bold text-left">Start Time</p>
                    <p class="font-medium">13:00</p>
                
                </div>
          <div class="flex flex-row justify-around  mb-4">
                    <p class="font-bold text-left">End Time</p>
                    <p class="font-medium">15:00</p>
                </div>
      </div>
      <div class="modal-action">
      <label for="my-modal" class="btn btn-block">Confirm</label>
    </div>
  </div>
</div>        </div>
    
</div>
   