@* <div class="row"> *@
@*     <div class="col-md-4 "> *@
@*         <div class="col-md-4"> *@
@*             <form id="createLabForm"   method="post"> *@
@*                 <h2 class="font-semibold text-3xl ml-12 mt-4">Create Account</h2> *@
@*                 <p class="font-medium text-lg ml-12 mb-4">Create new accounts for <b class="font-bold"> Labs</b></p> *@
@*                 <div class="bg-white m-12 p-4 rounded-lg"> *@
@*                     <h2 class="font-semibold text-2xl mt-10 ml-12">Basic Information</h2> *@
@*                     <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
@*                     <div class="form-floating"> *@
@*                         <div class="mt-12 ml-12"> *@
@*                             <label class="font-semibold">Lab Name</label> *@
@*                             <input class="form-control block w-8/12 px-3 py-1 text-base font-normal text-gray-700 shadow shadow-gray-100  bg-gray-50 bg-clip-padding border border-solid border-gray-300  *@
@*                                 rounded transition  ease-in-out m-0  hover:border-blue-600 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none h-14 " placeholder="Enter name" autocomplete="username" aria-required="true"/> *@
@*                             <span class="text-sm text-red-500"></span> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="form-floating"> *@
@*                         <div class="mt-6 ml-12"> *@
@*                             <label class="font-semibold">Lab Location</label> *@
@*                             <input class="form-control block w-8/12 px-3 py-1 text-base font-normal text-gray-700  bg-gray-50 shadow-gray-100 bg-clip-padding border border-solid border-gray-300 rounded-md *@
@*                 rounded transition  ease-in-out m-0 focus:text-gray-700 hover:border-blue-600 focus:bg-white focus:border-blue-600 focus:outline-none h-14 " placeholder="Enter location" aria-required="true"/> *@
@*                             <span class="text-sm text-red-500"></span> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="form-floating"> *@
@*                         <div class="mt-6 ml-12"> *@
@*                             <label class="font-semibold">Lab Occupancy</label> *@
@* *@
@*                             <input class="form-control block w-8/12 px-3 py-1 text-base font-normal text-gray-700  bg-gray-50 shadow-gray-100 bg-clip-padding border border-solid border-gray-300 rounded-md *@
@*                                             rounded transition  ease-in-out m-0 focus:text-gray-700 hover:border-blue-600 focus:bg-white focus:border-blue-600 focus:outline-none h-14 " type="number" step="any" min="0" placeholder="Enter Occupancy" aria-required="true"/> *@
@* *@
@* *@
@*                             <span class="text-sm text-red-500"></span> *@
@*                         </div> *@
@*                     </div> *@
@* *@
@*                     <div class="form-floating"> *@
@*                         <div class="mt-6 ml-12"> *@
@*                             <label class="font-semibold">Password</label> *@
@*                             <input class="form-control block w-8/12 px-3 py-1 text-base font-normal text-gray-700 shadow shadow-gray-100  bg-gray-50 bg-clip-padding border border-solid border-gray-300  *@
@*                                                                                     rounded transition  ease-in-out m-0 focus:text-gray-700 hover:border-blue-600 focus:bg-white focus:border-blue-600 focus:outline-none h-14" placeholder="Enter password" autocomplete="new-password" aria-required="true"/> *@
@*                         </div> *@
@*                         <span class="text-danger"></span> *@
@* *@
@*                     </div> *@
@*                     <div class="form-floating"> *@
@*                         <div class="mt-6 ml-12"> *@
@*                             <label class="font-semibold">Confirm Password</label> *@
@*                             <input class="form-control block w-8/12 px-3 py-1 text-base font-normal text-gray-700 shadow shadow-gray-100  bg-gray-50 bg-clip-padding border border-solid border-gray-300  *@
@*                                                                                                         rounded transition  ease-in-out m-0 focus:text-gray-700 hover:border-blue-600 focus:bg-white focus:border-blue-600 focus:outline-none h-14" placeholder="Confirm password" aria-required="true"/> *@
@*                         </div> *@
@*                         <span class="text-danger"></span> *@
@* *@
@*                     </div> *@
@*                     <div class="form-floating"> *@
@*                         <div class="mt-6 ml-12 mb-12"> *@
@*                             <label class="font-semibold">Lab Access Rights</label> *@
@*                             <select class=" form-control block w-8/12 border border-solid border-gray-300 text-gray-700 shadow shadow-gray-100 rounded-md h-14 pl-5 pr-10 bg-gray-50 hover:border-blue-600 bg-gray-50 focus:border-blue-600 focus:bg-white appearance-none"> *@
@*                                 <option hidden>Select Lab Access Rights</option> *@
@*                                 <option>SIT-LAB1A</option> *@
@*                                 <option>SIT-LAB1A</option> *@
@*                                 <option>SIT-LAB1C</option> *@
@*                                 <option>SIT-LAB2A</option> *@
@*                                 <option>SIT-LAB2C</option> *@
@* *@
@*                             </select> *@
@*                         </div> *@
@*                         <span class="text-danger"></span> *@
@* *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="flex justify-center mt-6"> *@
@*                     <button id="registerSubmit" type="submit" class="w-3/12 h-14  text-2xl text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-semibold  rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Create</button> *@
@*                 </div> *@
@* *@
@*             </form> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* /// <remarks> *@
@* /// Author: Team P1-5 *@
@* /// </remarks> *@
@{
    ViewData["Title"] = "Booking Appointment";
}
<div class="text-left pl-96 ">
        <h1 class="font-semibold text-3xl pt-24 ">Create Account</h1>
        <h3 class="pt-2 text-lg font-medium">Create New Accounts for Lab Technician</h3>
    </div>
        <form class=" w-8/12 mx-auto bg-white  h-full mt-12 ">
        <div class="space-y-8 pl-16 rounded-md shadow pb-24 ">
<div>
                <h1 class="font-semibold text-3xl pt-24">Basic Information</h1>
            </div>
            <div class="">
                <div class="pt-2">
                    <h2 class="font-medium text-lg"> Name</h2>
                    <input type="text" placeholder="Enter Lab Name" class="input input-bordered w-full max-w-xs bg-white mt-2">
                </div>
            </div>
                <div class="pt-2">
                <h2 class="font-medium text-lg">Email</h2>
                <input type="text" placeholder="Enter Email" class="input input-bordered w-full max-w-xs bg-white mt-2">
            </div>
            <div class="pt-2">
                <h2 class="font-medium text-lg">Faculty</h2>
                <select class="select select-bordered w-full max-w-xs bg-white mt-2">
                    <option disabled selected> Select Faculty</option>
                    <option>Han Solo</option>
                    <option>Greedo</option>
                </select>
            </div>
            <div class="pt-2">
                <h2 class="font-medium text-lg"> Password</h2>
                <input type="text" placeholder="Enter Password" class="input input-bordered w-full max-w-xs bg-white mt-2">
            </div>
                <div class="pt-2">
                <h2 class="font-medium text-lg">Lab Access Rights</h2>
                <select class="select select-bordered w-full max-w-xs bg-white mt-2">
                    <option disabled selected> Select Lab Access Rights</option>
                    <option>Han Solo</option>
                    <option>Greedo</option>
                </select>
            </div>
            </div>
        </form>
<div class="text-center mt-12">
<label for="my-modal" class="btn modal-button">Create Account</label>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal" class="modal-toggle">
<div class="modal">
  <div class="modal-box bg-white    p-8">
    <h3 class="font-bold text-2xl font-bold mt-12 text-green-700 ">Successful!</h3>
      <p class=" font-semibold mt-4">You have created a new lab technician account</p>
      
      <div class="modal-action">
      <label for="my-modal" class="btn btn-block">Confirm</label>
    </div>
  </div>
</div>        </div>
    
