@* /// <remarks> *@
@* /// Author: Team P1-5 *@
@* /// </remarks> *@
@{
    ViewData["Title"] = "SMS Authentication";
}
<div class="row">
    <div>
        <section>
    <p class="font-semibold text-3xl ml-12 mb-4 pt-12">Mode of Authentication</p>
            <div class="flex gap-3 justify-center items-center ">
                    <button id="2FA-btn" class="block bg-white font-bold w-4/12 h-36 ml-4 mr-4 pt-8 pb-8 text-7xl rounded-lg transition  ease-in-out m-0 hover:bg-slate-600/10 hover:border-slate-600 hover:outline-none">
                        2FA
                    </button>
                    <button id="SMS-btn" class="block bg-white font-bold w-4/12 h-36 ml-4 mr-4 pt-8 pb-8 text-7xl rounded-lg transition  ease-in-out m-0 hover:bg-slate-600/10 hover:border-slate-600 hover:outline-none">
                        SMS
                    </button>
            </div>
            <!--Overlay Effect-->
            <div
                class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
                id="my-modal">
                <div class="min-h-screen flex items-center justify-center">
                    <!--MODAL ITEM-->
                    <div class="bg-gray-100 w-full rounded-xl md:w-1/2 lg:w-1/3">
                        <!--MODAL HEADER-->
                        <div
                            class="flex justify-between items center  py-3 mx-4 px-4 my-4">
                            <div class="flex items-center justify-center">
                                <p class="text-2xl font-bold text-gray-800">SMS Set-Up</p>
                            </div>

                            <div id="close-btn"
                                class="hover:bg-gray-500 cursor-pointer hover:text-gray-300 font-sans text-gray-500 w-8 h-8 flex items-center justify-center rounded-full">
                                <svg viewPort="0 0 12 12"
                                     width="12"
                                     height="12"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <line x1="1" y1="11"
                                          x2="11" y2="1"
                                          stroke="black"
                                          stroke-width="2"/>
                                    <line x1="1" y1="1"
                                          x2="11" y2="11"
                                          stroke="black"
                                          stroke-width="2"/>
                                </svg>
                            </div>
                        </div>

                        <!--MODAL BODY-->
                        <div class="mx-4 px-4">
                            <div class="text-start my-2">
                                <label class="flex block ml-0 justify-start font-semibold">Mobile</label>
                            </div>
                            <input class="block w-4/8 h-12 px-4 py-1 text-base font-semibold bg-slate-600/10 bg-clip-padding border border-solid border-slate-600/10
                                                                        rounded-lg transition ease-in-out m-0 focus:bg-slate-600/10 focus:border-slate-600 focus:outline-none" placeholder="Enter your phone number" autocomplete="current-phone" aria-required="true"/>


                            <div class="text-start my-2 mt-4">
                                <label class="flex block ml-0 justify-start font-semibold">
                                    Verification code
                                </label>
                            </div>
                            <input class="block w-4/8 h-12 px-4 py-1 text-base font-semibold bg-slate-600/10 bg-clip-padding border border-solid border-slate-600/10
                                                                                                        rounded-lg transition ease-in-out m-0 focus:bg-slate-600/10 focus:border-slate-600 focus:outline-none" placeholder="Enter verification code" autocomplete="current-otp" aria-required="true"/>
                        </div>
                        <!--BOX LINK-->
                        <div class="mt-8 mb-0 h-12 bg-slate-600 flex justify-center items-center hover:bg-black  w-full rounded-b-xl">
                            <button id="submit-btn" class="text-white rounded text-xl font-bold">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script>
    // Grabs all the Elements by their IDs which we had given them
        let modal = document.getElementById("my-modal");
    
        let btn = document.getElementById("2FA-btn");
        
        let closebtn = document.getElementById("close-btn");
    
        let submitbtn = document.getElementById("submit-btn");
    // We want the modal to open when the Open button is clicked
        btn.onclick = function() {
        modal.style.display = "block";
        }
        // We want the modal to close when the OK button is clicked
        closebtn.onclick = function() {
        modal.style.display = "none";
        }
        
        // We want the modal to close when the OK button is clicked
                submitbtn.onclick = function() {
                modal.style.display = "none";
                }

        
    // We want the modal to open when the Open button is clicked
        btn.onclick = function() {
        modal.style.display = "block";
        }
     // The modal will close when the user clicks anywhere outside the modal
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
        
    </script>
}