@model LivingLab.Web.Models.ViewModels.Accessory.AccessoryDetailsViewModel

@{
    ViewData["Title"] = "Accessory Details";
}

<div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="tracking-wide text-gray-700 text-xs font-bold mb-2" for="editAccessoryId">
            Accessory Id
        </label>
        <input
            class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="editAccessoryId" name="editAccessoryId" type="number">

    </div>
    <div class="w-full md:w-1/2 px-3">
        <label class="tracking-wide text-gray-700 text-xs font-bold mb-2" for="editAccessoryType">
            Accessory Type
        </label>
        <div class="relative">
            <select
                class="block appearance-none w-full bg-white text-gray-900 border border-gray-200 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="editAccessoryType" name="Accessory.AccessoryType.Id">
            </select>
        </div>
    </div>
</div>

<div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="tracking-wide text-gray-700 text-xs font-bold mb-2" for="editAccessoryName">
            Accessory Name
        </label>
        <input
            class="appearance-none block w-full bg-white text-gray-900 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="editAccessoryName" name="Accessory.Name" type="text">

    </div>
    <div class="w-full md:w-1/2 px-3">
        <label class="tracking-wide text-gray-700 text-xs font-bold mb-2" for="editStatus">
            Status
        </label>
        <div class="relative">
            <select
                class="block appearance-none w-full bg-white text-gray-900 border border-gray-200  py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="editStatus" name="Accessory.Status">
                <option value="Available">Available</option>
                <option value="Borrowed">Borrowed</option>
            </select>
        </div>
    </div>
</div>

<div class="flex flex-wrap -mx-3 mb-2">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="tracking-wide text-gray-700 text-xs font-bold mb-2" for="editDescription">
            Description
        </label>
        <input
            class="appearance-none block w-full bg-white text-gray-900 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="editDescription" type="text" name="Accessory.AccessoryType.Description">
    </div>
    <div class="w-full md:w-1/2 px-3">
        <label class="tracking-wide text-gray-700 text-xs font-bold mb-2" for="editLabUser">
            Borrowable
        </label>
        <div class="relative">
            <select
                class="block appearance-none w-full bg-white text-gray-900 border border-gray-200  py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="editBorrowable" name="Accessory.AccessoryType.Borrowable">
                <option value="False">False</option>
                <option value="True">True</option>
            </select>
        </div>
    </div>
</div>

<div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class=" tracking-wide text-gray-700 text-xs font-bold mb-2" for="editDueDate">
            Due Date
        </label>
        <input
            class="appearance-none block w-full bg-white text-gray-900 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="editDueDate" type="date" name="Accessory.DueDate">
    </div>
    <div class="w-full md:w-1/2 px-3">
        <label class="tracking-wide text-gray-700 text-xs font-bold mb-2" for="editLabUser">
            Borrowed By
        </label>
        <div class="relative">
            <select
                class="block appearance-none w-full bg-white text-gray-900 border border-gray-200  py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="editLabUser" name="Accessory.LabUserId">
            </select>
        </div>
    </div>
</div>

<input type="hidden" id="AccessoryId" name="Accessory.Id" />
<input type="hidden" id="AccessoryType" name="Accessory.AccessoryType.Type" />
<input type="hidden" id="editLabLocation" name="Accessory.Lab.LabLocation" />