@model LivingLab.Web.Models.ViewModels.Account.ResetPasswordViewModel
@* /// <remarks> *@
@* /// Author: Team P1-5 *@
@* /// </remarks> *@
@{
    ViewData["Title"] = "Reset Password";
}

<div class="row">
    <div class="col-md-4 text-center">
        <section>
            @if (Model?.IsSuccess == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>
                        You have updated your password successfully.
                    </p>
                </div>
            }
            else
            {
                <form method="post" asp-controller="Login" asp-action="ResetPassword">
                    <h1 class="font-semibold text-5xl mt-16">Reset Password</h1>
                    @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                    <input asp-for="Token" type="hidden"/>
                    <input asp-for="Email" type="hidden"/>
                    <div class="form-floating">
                        <div class="flex justify-evenly mt-12">
                            <input asp-for="Password" class="form-control block w-4/12 h-12 px-4 py-1 text-base font-semibold bg-slate-600/10 bg-clip-padding border border-solid border-slate-600/10
                              rounded-lg transition  ease-in-out m-0 focus:bg-slate-600/10 focus:border-slate-600 focus:outline-none" placeholder="New Password" autocomplete="false" aria-required="true"/>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                    <div class="form-floating">
                        <div class="flex justify-evenly mt-24">
                            <input asp-for="ConfirmPassword" class="form-control block w-4/12 h-12 px-4 py-1 text-base font-semibold bg-slate-600/10 bg-clip-padding border border-solid border-slate-600/10
                                              rounded-lg transition  ease-in-out m-0 focus:bg-slate-600/10 focus:border-slate-600 focus:outline-none" placeholder="Confirm New Password" autocomplete="false" aria-required="true"/>
                        </div>
                        <span class="text-sm text-red-500"></span>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                    <div class="mt-16">
                        @* <button id="verify-submit" type="submit" class="w-4/12 h8 text-base text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium  rounded-md text-sm px-5 py-2.5 text-center">Verify</button> *@
                        <button id="verify-submit" type="submit" class="w-4/12 btn btn-primary">
                            Reset Password
                        </button>
                    </div>
                </form>
            }
        </section>
    </div>
</div>