@using Microsoft.AspNetCore.Identity
@using LivingLab.Core.Entities.Identity
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Living Lab Dashboard</title>

    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,300italic,400italic,700italic&display=swap"
          rel="stylesheet"
          type="text/css"/>
    @* Replace the cdn with your style scripts *@
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
<div>
<div class="leading-normal tracking-normal" id="main-body">
    <div class="flex flex-wrap">
        @* sidebar *@
        <div class="w-1/2 md:w-1/3 lg:w-64 fixed md:top-0 md:left-0 h-screen lg:block bg-gray-100 border-r z-30"
             id="main-nav">
            <div class="w-full h-20 flex px-4 pr-6 mt-24 lg:mt-8 items-center justify-center mb-8">
                <a href="#">
                    @* logo here *@
                    <img class="font-semibold text-3xl text-blue-400 pl-4 h-24"
                         @* src="" *@
                         alt="logo"/>
                </a>
            </div>

            @if (SignInManager.IsSignedIn(User))
            {
                <div class="mb-4 px-4 space-y-1">
                    <p class="pl-4 text-sm font-semibold mb-1 uppercase">P1-5</p>
                    <a class="w-full flex items-center text-sunset-400 h-10 pl-4  hover:bg-gray-200 rounded-lg cursor-pointer"
                       asp-area="" asp-controller="P1_5" asp-action="Booking">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"/>
                        </svg>
                        <span class="text-gray-700">Booking Appointment</span>
                    </a>

                    <a class="w-full flex items-center text-sunset-400 h-10 pl-4  hover:bg-gray-200 rounded-lg cursor-pointer"
                       asp-area="" asp-controller="P1_5" asp-action="ManageLabBookings">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"/>
                        </svg>
                        <span class="text-gray-700">Manage Bookings</span>
                    </a>

                    <a class="w-full flex items-center text-sunset-400 h-10 pl-4  hover:bg-gray-200 rounded-lg cursor-pointer"
                       asp-area="" asp-controller="P1_5" asp-action="ManageLabUsers">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"/>
                        </svg>
                        <span class="text-gray-700">Manage Lab Users</span>
                    </a>

                    <a class="w-full flex items-center text-sunset-400 h-10 pl-4  hover:bg-gray-200 rounded-lg cursor-pointer"
                       asp-area="" asp-controller="P1_5" asp-action="CreateLabAccount">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"/>
                        </svg>
                        <span class="text-gray-700">Create Lab Account</span>
                    </a>

                    <a class="w-full flex items-center text-sunset-400 h-10 pl-4  hover:bg-gray-200 rounded-lg cursor-pointer"
                       asp-area="" asp-controller="P1_5" asp-action="CreateLabTechAccount">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"/>
                        </svg>
                        <span class="text-gray-700">Create Lab Technician</span>
                    </a>

                    <a class="w-full flex items-center text-sunset-400 h-10 pl-4  hover:bg-gray-200 rounded-lg cursor-pointer"
                       asp-area="" asp-controller="P1_5" asp-action="LabProfile">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"/>
                        </svg>
                        <span class="text-gray-700">Lab Profile</span>
                    </a>

                </div>


                <div class="mb-4 px-4 space-y-1">
                    <p class="pl-4 text-sm font-semibold mb-1 uppercase">P1-3</p>
                    <a class="w-full flex items-center text-sunset-400 h-10 pl-4 hover:bg-gray-200 rounded-lg cursor-pointer"
                       asp-area="" asp-controller="Home" asp-action="Index">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"/>
                        </svg>
                        <span class="text-gray-700">Home</span>
                    </a>

                    <a class="w-full flex items-center text-sunset-400 h-10 pl-4  hover:bg-gray-200 rounded-lg cursor-pointer"
                       asp-area="" asp-controller="Home" asp-action="Privacy">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"/>
                        </svg>
                        <span class="text-gray-700">Privacy</span>
                    </a>
                    <a class="w-full flex items-center text-sunset-400 h-10 pl-4  hover:bg-gray-200 rounded-lg cursor-pointer"
                       asp-area="" asp-controller="Device" asp-action="ViewType">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"/>
                        </svg>
                        <span class="text-gray-700">Manage Devices</span>
                    </a>
                    <a class="w-full flex items-center text-sunset-400 h-10 pl-4  hover:bg-gray-200 rounded-lg cursor-pointer"
                       asp-area="" asp-controller="Accessory" asp-action="ViewAccessoryType">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"/>
                        </svg>
                        <span class="text-gray-700">Manage Accessory</span>
                    </a>
                </div>
                }
                </div>
            

            @* end sidebar *@

            <div class="w-full bg-gray-100 pl-0 lg:pl-64 min-h-screen"
                 id="main-content">
                @* navbar start *@
                <div class="sticky top-0 z-100">
                    <div class="w-full h-20 px-6 bg-gray-100 border-b flex items-center justify-between">

                        <!-- right navbar -->
                        <div class="flex items-center relative">
                            <button class="bg-transparent hover:bg-blue-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded shadow">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </button>


                            <button class="bg-transparent hover:bg-blue-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded shadow">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </button>

                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a class="nav-link text-dark" asp-controller="P1_5" asp-action="SMSAuth" title="Manage"> @User.Identity?.Name</a>

                                <button class="bg-transparent hover:bg-blue-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded shadow">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                                </button>
                                
                            }
                            @* <partial name="_LoginPartial" /> *@
                        </div>
                    </div>
                </div>
                @* navbar end *@

                <div class="p-6 bg-gray-100 mb-20 h-auto">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>
@* <footer class="border-top footer bg-grey-100 mr-0 text-black"> *@
@*     <div class="container"> *@
@*         &copy; 2022 - livinglab_main - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*     </div> *@
@* </footer> *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>