@* your model imports/calls go here as per usual *@

<div class="flex">
    <div class="flex-grow">
        <p class="text-4xl pb-3 flex items-center font-black">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 pr-2" viewBox="0 0 20 20" fill="currentColor">
                <path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z" />
                <path fill-rule="evenodd"
                    d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z"
                    clip-rule="evenodd" />
            </svg>
            Origin/Destinations
        </p>
        <div class="btn-group no-animation pb-2">
            <span class="btn btn-xs bg-blush-500 border-0 hover:bg-blush-500 cursor-default">Available</span>
            <span class="btn btn-xs border-0 cursor-default">30254</span>
        </div>
    </div>
</div>
<div class="flex flex-wrap -mx-3 mb-20">
    <div class="w-full px-3">
        <div class="overflow-x-auto">
            <table class="table w-full">
                <thead>
                    <tr>
                        <th>Year/Month</th>
                        <th>Day Type</th>
                        <th>Hour</th>
                        <th>Origin</th>
                        <th>Destination</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2020-08</td>
                        <td>WEEKENDS/HOLIDAY</td>
                        <td>8</td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Bef Wilkinson Rd
                            </a>
                        </td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Opp One Amber
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2020-08</td>
                        <td>WEEKENDS/HOLIDAY</td>
                        <td>22</td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                KAMPONG BAHRU TER
                            </a>
                        </td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Blk 78
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2020-08</td>
                        <td>WEEKENDS/HOLIDAY</td>
                        <td>12</td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Opp Blk 461
                            </a>
                        </td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Wisma AUPE
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2020-08</td>
                        <td>WEEKDAY</td>
                        <td>17</td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Neptune Ct
                            </a>
                        </td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Opp Daikin S'pore
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2020-08</td>
                        <td>WEEKENDS/HOLIDAY</td>
                        <td>17</td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Neptune Ct
                            </a>
                        </td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Opp Daikin S'pore
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2020-08</td>
                        <td>WEEKDAY</td>
                        <td>7</td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Pusara Aman Mque
                            </a>
                        </td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Choa Chu Kang Int
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2020-08</td>
                        <td>WEEKENDS/HOLIDAY</td>
                        <td>10</td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Opp Blk 461
                            </a>
                        </td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Blk 17
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2020-08</td>
                        <td>WEEKDAY</td>
                        <td>10</td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Opp Blk 461
                            </a>
                        </td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Blk 17
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2020-08</td>
                        <td>WEEKENDS/HOLIDAY</td>
                        <td>15</td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Opp Yeo's Bldg
                            </a>
                        </td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                The Interlace
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2020-08</td>
                        <td>WEEKENDS/HOLIDAY</td>
                        <td>15</td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Tampines Int
                            </a>
                        </td>
                        <td class="underline cursor-pointer">
                            <a href="#">
                                Mjd Kassim
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>