@* your model imports/calls go here as per usual *@
<div xmlns="http://www.w3.org/1999/html">
    <p class="text-3xl pb-2 font-black">
        Styling Sample
    </p>
    <a href="https://daisyui.com/components/">
        <button class="btn-link">https://daisyui.com/components/</button>
        <p class="mb-4">Theme in use: <strong>Corporate</strong> (under tailwindconfig.js)</p>
    </a>
</div>

<div class="mb-8">
    <p class="text-2xl pb-3 font-black">
        Buttons
    </p>
    <p class="mb-1 font-bold">Primary Button (Higher level CTAs/Modals)</p>
    <p class="my-2">btn btn-primary</p>
    <button class="btn btn-primary"> Add new device</button>

    <p class="mt-8 mb-1 font-bold">Secondary Button (View more/secondary level CTAs)</p>
    <p class="my-2">btn btn-outline btn-primary</p>
    <button class="btn btn-outline btn-primary"> View more</button>

    <p class="mt-8 mb-1 font-bold">Disabled Button (Disabled state)</p>
    <p class="my-2">btn btn-disabled</p>
    <button class="btn btn-disabled"> Disabled</button>

    <p class="mt-8 mb-1 font-bold">Ghost Button (Cancel in modals)</p>
    <p class="my-2">btn btn-ghost</p>
    <button class="btn btn-ghost"> Cancel</button>

</div>

<div>
    <p class="text-2xl pb-3 font-black">
    Modals (Taiwind Modals)
    <p>Refer to Add Device modals <br> ../Device/ViewType -> 'Add Device'</p>
</div>