@using Microsoft.AspNetCore.Identity
@using LivingLab.Core.Entities.Identity

@using LivingLab.Web.Models.ViewModels.LabProfile
@model LivingLab.Web.Models.ViewModels.LabProfile.ViewLabProfileViewModel


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}

<div class="m-0 overflow-hidden">
    <div class="header sticky ">
        <h1 class="text-4xl text-gray-600 font-semibold">Dashboard</h1>
    </div>
    <div class=" flex justify-evenly ">
        <div class=" w-64 py-12 px-12 bg-white shadow-lg rounded-lg my-20 mr-4">
            <div>
                <h2 class="text-gray-800 text-xl font-semibold mt-4">Average Device Energy Usage</h2>
                <div class="flex">
                    <p class="mt-2 text-3xl text-gray-600 font-semibold "> 100000</p>
                    <p class="mt-2 text-gray-600  text-lg"> kw</p>
                </div>
            </div>
            <div class=" mt-8 ml-2 ">
                <a href="#" class="text-sm font-medium text-indigo-500">View more</a>
            </div>
        </div>
        <div class=" w-64 py-12 px-12 bg-white shadow-lg rounded-lg my-20 mr-4">
            <div class="flex">

            </div>
            <div>
                <h2 class="text-gray-800 text-xl font-semibold mt-4">Average Labs Energy Usage</h2>
                <div class="flex">
                    <p class="mt-2 text-3xl text-gray-600 font-semibold "> 100000</p>
                    <p class="mt-2 text-gray-600  text-lg"> kw</p>
                </div>
            </div>
            <div class=" mt-8 ml-2 ">
                <a href="#" class="text-sm font-medium text-indigo-500">View more</a>
            </div>
        </div>

        <div class=" w-64 py-12 px-12 bg-white shadow-lg rounded-lg my-20 mr-4">
            <div>
                <h2 class="text-gray-800 text-xl font-semibold mt-4">Average Labs Log In</h2>
                <div class="flex">
                    <p class="mt-2 text-3xl text-gray-600 font-semibold "> 100000</p>
                </div>
            </div>
            <div class=" mt-8 ml-2 ">
                <a href="#" class="text-sm font-medium text-indigo-500">View more</a>
            </div>
        </div>
        <div class=" w-64 py-12 px-12 bg-white shadow-lg rounded-lg my-20 mr-4">
            <div>
                <h2 class="text-gray-800 text-xl font-semibold mt-4">Average Data Uploaded </h2>
                <div class="flex">
                    <p class="mt-2 text-3xl text-gray-600 font-semibold "> 100000</p>
                </div>
            </div>
            <div class=" mt-8 ml-2 ">
                <a href="#" class="text-sm font-medium text-indigo-500">View more</a>
            </div>
        </div>
    </div>
    <div class=" flex justify-center ">
        <div class=" w-4/12 py-12 px-12 bg-white shadow-lg rounded-lg my-4 mr-4">
            <h2 class="text-xl text-gray-600 font-semibold float-left ">Energy Usage Graph</h2>
        </div>
        <div class="   w-4/12 py-12 px-12 bg-white shadow-lg rounded-lg my-4 mr-4">
            <h2 class="text-xl text-gray-600 font-semibold float-left ">Energy Usage Graph</h2>
        </div>

    </div>
</div>
