<<<<<<< HEAD
﻿@using Microsoft.AspNetCore.Identity
=======
﻿
@using Microsoft.AspNetCore.Identity
>>>>>>> e90249168d4bcb9fce4bbd09def560c9e7bc34e9
@using LivingLab.Core.Entities.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="m-0 overflow-hidden 	">
<<<<<<< HEAD
    <div class="header sticky ">
        <h1 class="text-4xl text-gray-600 font-semibold  ">Dashboard</h1>
    </div>
    <div class=" flex justify-evenly ">
        <div class=" w-96 py-12 px-12 bg-white shadow-lg rounded-lg my-20 mr-4">
            <div>
                <h2 class="text-gray-800 text-xl font-semibold mt-4">Average Device Energy Usage</h2>
                <div class="flex">
                    <p class="mt-2 text-3xl text-gray-600 font-semibold "> 100000</p>
                    <p class="mt-2 text-gray-600  text-lg"> kw</p>
                </div>
            </div>
            <div class=" mt-8 ml-2 ">
                <a href="#" class="text-sm font-medium text-indigo-500">View more</a>
            </div>
        </div>
        <div class=" w-96 py-12 px-12 bg-white shadow-lg rounded-lg my-20 mr-4">
            <div class="flex">

            </div>
            <div>
                <h2 class="text-gray-800 text-xl font-semibold mt-4">Average Labs Energy Usage</h2>
                <div class="flex">
                    <p class="mt-2 text-3xl text-gray-600 font-semibold "> 100000</p>
                    <p class="mt-2 text-gray-600  text-lg"> kw</p>
                </div>
            </div>
            <div class=" mt-8 ml-2 ">
                <a href="#" class="text-sm font-medium text-indigo-500">View more</a>
            </div>
        </div>

        <div class=" w-96 py-12 px-12 bg-white shadow-lg rounded-lg my-20 mr-4">
            <div>
                <h2 class="text-gray-800 text-xl font-semibold mt-4">Average Labs Log In</h2>
                <div class="flex">
                    <p class="mt-2 text-3xl text-gray-600 font-semibold "> 100000</p>
                </div>
            </div>
            <div class=" mt-8 ml-2 ">
                <a href="#" class="text-sm font-medium text-indigo-500">View more</a>
            </div>
        </div>
        <div class=" w-96 py-12 px-12 bg-white shadow-lg rounded-lg my-20 mr-4">
            <div>
                <h2 class="text-gray-800 text-xl font-semibold mt-4">Average Data Uploaded </h2>
                <div class="flex">
                    <p class="mt-2 text-3xl text-gray-600 font-semibold "> 100000</p>
                </div>
            </div>
            <div class=" mt-8 ml-2 ">
                <a href="#" class="text-sm font-medium text-indigo-500">View more</a>
            </div>
        </div>
    </div>
    <div class=" flex justify-center ">
        <div class=" w-4/12 py-12 px-12 bg-white shadow-lg rounded-lg my-4 mr-4">
            <h2 class="text-xl text-gray-600 font-semibold float-left ">Energy Usage Graph</h2>
        </div>
        <div class="   w-4/12 py-12 px-12 bg-white shadow-lg rounded-lg my-4 mr-4">
            <h2 class="text-xl text-gray-600 font-semibold float-left ">Energy Usage Graph</h2>
        </div>

    </div>
</div>
}
else
{

}
=======
        <div class="header sticky ">
            <h1 class="text-4xl text-gray-600 font-semibold  ">Dashboard</h1>
        </div>
        <div class=" flex justify-evenly ">
            <div class=" w-96 py-12 px-12 bg-white shadow-lg rounded-lg my-20 mr-4">
                <div>
                    <h2 class="text-gray-800 text-xl font-semibold mt-4">Average Device Energy Usage</h2>
                    <div class="flex">
                        <p class="mt-2 text-3xl text-gray-600 font-semibold "> 100000</p>
                        <p class="mt-2 text-gray-600  text-lg"> kw</p>
                    </div>
                </div>
                <div class=" mt-8 ml-2 ">
                    <a href="#" class="text-sm font-medium text-indigo-500">View more</a>
                </div>
            </div>
            <div class=" w-96 py-12 px-12 bg-white shadow-lg rounded-lg my-20 mr-4">
                <div class="flex">

                </div>
                <div >
                    <h2 class="text-gray-800 text-xl font-semibold mt-4">Average Labs Energy Usage</h2>
                    <div class="flex">
                        <p class="mt-2 text-3xl text-gray-600 font-semibold "> 100000</p>
                        <p class="mt-2 text-gray-600  text-lg"> kw</p>
                    </div>
                </div>
                <div class=" mt-8 ml-2 ">
                    <a href="#" class="text-sm font-medium text-indigo-500">View more</a>
                </div>
            </div>

            <div class=" w-96 py-12 px-12 bg-white shadow-lg rounded-lg my-20 mr-4">
                <div>
                    <h2 class="text-gray-800 text-xl font-semibold mt-4">Average Labs Log In</h2>
                    <div class="flex">
                        <p class="mt-2 text-3xl text-gray-600 font-semibold "> 100000</p>
                    </div>
                </div>
                <div class=" mt-8 ml-2 ">
                    <a href="#" class="text-sm font-medium text-indigo-500">View more</a>
                </div>
            </div>
            <div class=" w-96 py-12 px-12 bg-white shadow-lg rounded-lg my-20 mr-4">
                <div>
                    <h2 class="text-gray-800 text-xl font-semibold mt-4">Average Data Uploaded </h2>
                    <div class="flex">
                        <p class="mt-2 text-3xl text-gray-600 font-semibold "> 100000</p>
                    </div>
                </div>
                <div class=" mt-8 ml-2 ">
                    <a href="#" class="text-sm font-medium text-indigo-500">View more</a>
                </div>
            </div>
        </div>
        <div class=" flex justify-center ">
            <div class=" w-4/12 py-12 px-12 bg-white shadow-lg rounded-lg my-4 mr-4">
                <h2 class="text-xl text-gray-600 font-semibold float-left ">Energy Usage Graph</h2>
            </div>
            <div class="   w-4/12 py-12 px-12 bg-white shadow-lg rounded-lg my-4 mr-4">
                <h2 class="text-xl text-gray-600 font-semibold float-left ">Energy Usage Graph</h2>
            </div>
           
        </div>

        @* <div class="flex flex-col justify-center"> *@
        @*   <div class="overflow-x-auto sm:-mx-6 lg:-mx-8 "> *@
        @*     <div class="py-2 inline-block w-4/5  sm:px-6 lg:px-8 "> *@
        @*       <div class="overflow-hidden"> *@
        @*         <table class="min-w-full bg-white p-24"> *@
        @*           <thead class="border-b"> *@
        @*             <tr> *@
        @*               <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"> *@
        @*                 #ID *@
        @*               </th> *@
        @*               <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"> *@
        @*                 Email *@
        @*               </th> *@
        @*               <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"> *@
        @*                 Faculty *@
        @*               </th> *@
        @*               <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"> *@
        @*                 Labs Access *@
        @*               </th> *@
        @*             </tr> *@
        @*           </thead> *@
        @*           <tbody> *@
        @*             <tr class="border-b"> *@
        @*               <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td> *@
        @*               <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> *@
        @*                 Mark *@
        @*               </td> *@
        @*                 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> *@
        @*                     Otto *@
        @*                 </td> *@
        @*                 <td><button class="mx-2 my-2 bg-gray-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-6 py-2 text-xs focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-indigo-600">View Profile</button> *@
        @* *@
        @*             </tr> *@
        @*             <tr class="bg-white border-b"> *@
        @*               <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">2</td> *@
        @*               <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> *@
        @*                 Jacob *@
        @*               </td> *@
        @*               <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> *@
        @*                 Thornton *@
        @*               </td> *@
        @*                 <td><button class="mx-2 my-2 bg-gray-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-6 py-2 text-xs focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-indigo-600">View Profile</button> *@
        @*             </tr> *@
        @*             <tr class="bg-white border-b"> *@
        @*               <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td> *@
        @*               <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> *@
        @*                 Larry *@
        @*               </td> *@
        @*                 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> *@
        @*                     Wild *@
        @*                 </td> *@
        @*                 <td><button class="mx-2 my-2 bg-gray-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-6 py-2 text-xs focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-indigo-600">View Profile</button> *@
        @*             </tr> *@
        @*           </tbody> *@
        @*         </table> *@
        @*       </div> *@
        @*     </div> *@
        @*   </div> *@
        @* </div> *@

    </div>

}
else
{
    
}
>>>>>>> e90249168d4bcb9fce4bbd09def560c9e7bc34e9
