@using LivingLab.Core.Models
@model List<EnergyUsageCsvModel>
@{
    ViewData["Title"] = "Manual Log";
}

<h2 class="text-2xl">Manual Log</h2>

<form asp-action="Upload" enctype="multipart/form-data" method="post">
    <input type="file" name="file" itemtype="csv"/>
    <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" value="Upload"/>
</form>
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add</button>

@if (Model != null)
{
    <form asp-action="Save" method="post">
        <table class="table-auto mt-5">
            <thead>
            <tr>
                <th>Device Id</th>
                <th>Energy Usage</th>
                <th>Interval (mins)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var log in Model)
            {
                <tr>
                    <td class="text-center">@log.DeviceId</td>
                    <td><input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" value="@log.EnergyUsage"/></td>
                    <td><input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" value="@log.Duration"/></td>
                    <td><button class="btn btn-close bg-red-500">Delete</button></td>
                </tr>
            }
            </tbody>
        </table>
        <input type="submit" value="Save" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded align-end">
    </form>
}

@section Scripts
{
    // Insert your scripts here
    // Best to create a new js file (under wwwroot/js) and reference it here
}