@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row ">
    <div class="col-md-4 text-center">
        <section>
            <form id="account" method="post">
                <h1 class="font-semibold text-5xl">Login</h1>
                <h2 class=" font-semibold text-xl mt-4">Hello there!</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating ">
                    <div class="flex justify-center mt-12">
                        <input asp-for="Input.Email" class="form-control  block w-4/12 px-3 py-1.5 text-base font-normal text-gray-700  bg-white bg-clip-padding border border-solid border-gray-300
                              rounded transition  ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none h-14" placeholder="Enter email" autocomplete="username" aria-required="true"/>

                    </div>   
                    <span asp-validation-for="Input.Email" class="text-sm text-red-500"></span>
                </div>
                
                <div class="form-floating">
                    <div class="flex justify-center mt-6">
                        <input asp-for="Input.Password" class=" block w-4/12  px-3 py-1.5 text-base font-normal text-gray-700  bg-white bg-clip-padding border border-solid border-gray-300
                            rounded transition  ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none h-14" placeholder="Enter password" autocomplete="current-password" aria-required="true"/>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-sm text-red-500"></span>
                </div>
               
                   <div class="flex justify-evenly mt-8  ">
                     <div class="checkbox">
                          <label asp-for="Input.RememberMe" class="form-label text-gray-500 font-semibold">
                              <input class="form-check-input" asp-for="Input.RememberMe"/>
                              @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                                </div>
                          <p class="font-semibold">
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot Password</a>
                          </p>
                   </div>
                <div class = "mt-36">
                    <button id="login-submit" type="submit" class="w-4/12 h-14  text-2xl text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium  rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Login</button>
                </div>
                 
             
                <div class="mt-4">
                    <p class="font-medium text-sm">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p class="font-medium text-sm">
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
