@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phone" aria-required="true"/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Faculty"></label>
                <input asp-for="Input.Faculty" class="form-control" autocomplete="phone" aria-required="true"/>
                                <span asp-validation-for="Input.Faculty" class="text-danger"></span>
                @* <select name="faculty" asp-for="Input.Faculty"> *@
                @*     <option value="SE">SE</option> *@
                @*     <option value="ICT">ICT</option> *@
                @*     <option value="MDME">MDME</option> *@
                @*     <option value="CSC">CSC</option> *@
                @* </select> *@
            </div>
            <div class="form-floating mt-4 mb-4">
                <span style="white-space: pre-line">
                <label asp-for="Input.IsSMS"></label>
                <input asp-for="Input.IsSMS" type="checkbox" value="SMS"/>SMS
                <input asp-for="Input.IsGoogle" type="checkbox" value="GoogleAuth"/> Google Authentication
                </span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
