@page
@using LivingLab.Web.Areas.Identity.Pages.Account.Manage
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control  block w-4/12 px-3 py-1.5 text-base font-normal text-gray-700  bg-white bg-clip-padding border border-solid border-gray-300
                   rounded transition  ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none h-14" disabled/>
            </div>
            @* <div class="form-floating"> *@
            @*     <input asp-for="Input.PhoneNumber" class="form-control" /> *@
            @*     <label asp-for="Input.PhoneNumber" class="form-label"></label> *@
            @*     <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span> *@
            @* </div> *@
               <div class = "mt-4">
                   <button id="update-profile-button" type="submit" class="w-4/12 h-14  text-2xl text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium  rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Save</button>
                </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
