@page
@using Microsoft.AspNetCore.Http.Features
@using LivingLab.Web.Areas.Identity.Pages.Account.Manage
@model VerifyCodeModel
@{
    ViewData["Title"] = "SMS Authentication";
    ViewData["Title2"] = "Verify Pin";
    ViewData["ActivePage"] = ManageNavPages.SMSAuthentication;
}

@* <partial name="_StatusMessage" for="StatusMessage" /> *@
@* <h3>@ViewData["Title"]</h3>

<form id="psms-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="PhoneNumber" class="form-control  block w-4/12 px-3 py-1.5 text-base font-normal text-gray-700  bg-white bg-clip-padding border border-solid border-gray-300
                   rounded transition  ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none h-14" />
            </div>
<div class = "mt-4">
    <button id="save-phone-number" type="submit" class="w-4/12 h-14  text-2xl text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium  rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Save</button>
</div>
</form> *@

<partial name="_StatusMessage" for="StatusMessage2" />
<h3>@ViewData["Title2"]</h3>
<form id="psms-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating">
        <input asp-for="PinNumber" class="form-control  block w-4/12 px-3 py-1.5 text-base font-normal text-gray-700  bg-white bg-clip-padding border border-solid border-gray-300
                   rounded transition  ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none h-14" />
    </div>
    <div class = "mt-4">
        <button id="verify-pin-number" NavigateUrl="~/SMSAuthentication.cshtml" type="submit" class="w-4/12 h-14  text-2xl text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium  rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Verify</button>
    </div>
</form>
<<<<<<< Updated upstream
<div class="font-semibold text-center">
    <a href="~/Identity/Account/Manage">Verify Code</a>
</div>
=======
@* <a href="~/Identity/Account/Manage">Verify Code</a> *@
>>>>>>> Stashed changes

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
